.section-3 {
  margin: 60px 32px 0;
  display: flex;
  flex-direction: column;
}
.section-3__title {
  font-size: 24px;
  text-wrap: balance;
  font-weight: 700;
  color: var(--color-orange-5);
  text-align: center;
}
.section-3__description {
  margin-top: 30px;
  font-size: 16px;
  line-height: var(--leading-normal);
  text-align: center;
}
.section-3__description-emphasis {
  color: var(--color-orange-5);
  font-weight: 700;
}
.section-3__carousel {
  display: flex;
  margin: 40px -32px 0;
  padding: 0 32px 60px;
  overflow: auto clip;

  gap: 20px;
  & li {
    list-style: none;
  }
}
.section-3__carousel-thumbnail {
  width: 260px;
  height: 260px;
  border-radius: var(--rounded-md);
  box-shadow: 10px 10px 20px rgb(0 0 0 / 0.25);
  object-fit: cover;
}
.section-3__actions {
  margin-top: 30px;
  display: flex;
  justify-content: end;
}

@media screen and (min-width: 1280px) {
  .section-3 {
    margin: 120px 0 0;
    align-items: center;
  }
  .section-3__title {
    font-size: 48px;
  }
  .section-3__description {
    margin-top: 40px;
    font-size: 16px;
    max-width: 739px;
  }
  .section-3__carousel {
    margin: 88px 0 0;
    padding: 0 0 90px;
    gap: 72px;
  }
  .section-3__carousel-thumbnail {
    width: 378px;
    height: 378px;
    border-radius: var(--rounded-lg);
    box-shadow: 10px 10px 30px rgb(0 0 0 / 0.25);
  }
  .section-3__learn-more {
    width: 938px;
    display: flex;
    align-items: center;
    gap: 52px;
  }
  .section-3__actions {
    margin-top: 0;
    display: block;
  }
}
